*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}


.m-li {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.m-li:nth-child(odd) {
  background-color: lightgray;
}

/*.m-li:last-child {*/
/*  margin-bottom: 50px*/
/*}*/

.m-box {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.m-b-item {
  background-color: yellow;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
}

.m-b-item:first-child,
.m-b-item:nth-child(5),
.m-b-item:last-child {
  background-color: orange;
}

.m-b-item:nth-child(3n){          /* 3の倍数 */
  margin-right: 0;
}

.m-b-item:nth-last-child(-n + 3){ /* 最後から3個 */
  margin-bottom: 0;
}


